<!-- 🔸lead button🔸 -->
<mj-section>
  <mj-column>
    <mj-button background-color="#de5e36" color="white" border-radius="24px" href="{{leadLink}}">GO TO MY DEAL</mj-button>
    <mj-text align="center" padding="12px 24px">Button not working? Visit:
      <a href="{{leadLink}}">{{leadLink}}</a></mj-text>
  </mj-column>
</mj-section>

<!-- 🔸thanks🔸 -->
<mj-section background-color="#e8e8e8" mj-class="pb-0">
  <mj-column padding="24px">
    <mj-text>
      <b>{{accountName}}</b>
      powered by WebBuy thanks you for the opportunity to help you purchase a vehicle on your terms - in a transparent,
      hassle-free, all-online experience!
    </mj-text>
  </mj-column>
</mj-section>

<!-- 🔸dealer logo and address🔸 -->
<mj-section mj-class="border-bottom pt-4 pb-2">
  <mj-column>
    <mj-image width="100px" src="{{dealerLogo}}"></mj-image>
    <mj-text align="center">{{accountName}} {{address}}</mj-text>
  </mj-column>
</mj-section>

<!-- 🔸WebBuy logo🔸 -->
<mj-section mj-class="pt-4">
  <mj-column>
    <mj-text color="#de5e36" font-weight="bold" align="center" padding-bottom="0">Powered By:</mj-text>
    <mj-image
      width="175px"
      src="https://webbuy53811.img-us10.com/public//d61646e8001059555adbe9c318608be3.png?r=1448638815"
    ></mj-image>
  </mj-column>
</mj-section>